.loginContainer {
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;

  }
  .Login {
    padding: 16px;
  }
  input[type=text], input[type=password],input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
  button:disabled {
    opacity: 0.8;
    background-color: rgb(85, 81, 81);
  }
  .navBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 14px 20px;

  }
  .productCard{
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 0;
  }
  img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
  }
  .nomeNavBar{
    background-color: #04AA6D;
    color: white;
    padding: 11px 3px;
    margin: 7px 0;
    border: none;
    width: 100%;
  }