/* .cardContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.productCard{
    display: flex;
    align-self: auto;
    border-style: ridge;
    justify-content: space-between;
    padding:3px 2px 10px 8px;
    margin: 2px;
}
img {
    max-width: 50px;
    max-height: 50px;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
} */